.rectangle {
    display: inline-flex;
    /* background-color: #09d3ac; */
    /* margin: 10px; */
    /* height: 200px; */
    /* width: 100px; */
    vertical-align: bottom;
    
    /* align-items: bottom; */
    /* transition-duration: 2s; */
}

.label {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}